.h1 {
    text-align: center;
    color: blueviolet;
}
div {
    margin: 10px;
    padding: 20px;
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 15px solid green;
}